$utilities: map-merge(
  $utilities,
  (
    'top':
      map-merge(
        map-get($utilities, 'top'),
        (
          responsive: true,
        )
      ),
    'bottom':
      map-merge(
        map-get($utilities, 'bottom'),
        (
          responsive: true,
        )
      ),
    'start':
      map-merge(
        map-get($utilities, 'start'),
        (
          responsive: true,
        )
      ),
    'end':
      map-merge(
        map-get($utilities, 'end'),
        (
          responsive: true,
        )
      ),
    'width':
      map-merge(
        map-get($utilities, 'width'),
        (
          responsive: true,
        )
      ),
    'font-size':
      map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true,
        )
      ),
    'height':
      map-merge(
        map-get($utilities, 'height'),
        (
          responsive: true,
        )
      ),
  )
);
