.section-margin {
  margin-bottom: map-get($spacers, 8);

  @include media-breakpoint-up(lg) {
    margin-bottom: map-get($spacers, 10);
  }
}

.container-gutter {
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;
}
