@use '../../assets/scss/main' as *;

.hero {
  &__title {
    font-size: 26px;

    @include media-breakpoint-up(lg) {
      font-size: 64px;
    }
  }

  &__text-wrapper {
    max-width: 500px;
    margin-inline: auto;

    @include media-breakpoint-up(md) {
      transform: translateY(19%);
    }

    @include media-breakpoint-up(lg) {
      max-width: 724px;
      transform: translateY(10%);
    }
  }

  &__arrow-down {
    left: -5%;

    @include media-breakpoint-up(lg) {
      left: -20%;
    }
  }

  &__stars {
    transform: translateY(-45%);
    display: inline-block;

    @include media-breakpoint-up(lg) {
      transform: translateY(-60%);
    }
  }

  &__search-input {
    box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
  }
}
