.navbar {
  --bs-navbar-toggler-icon-bg: url(../../images/icons/menu.svg);
  --bs-navbar-toggler-focus-width: 0;
  --bs-navbar-padding-y: #{map-get($spacers, 3)};

  border-bottom: 1px solid #f3f3f3;

  &-toggler {
    --bs-border-width: 0;
  }
}
