@use '../../assets/scss/main.scss' as *;

.testimonials {
  &__card {
    box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
  }

  &__footer-item {
    display: flex;
    align-items: center;
    gap: map-get($spacers, 3);

    span {
      font-weight: 700;
      color: $black;
    }
  }

  &__quote {
    width: 32px;
  }

  &__footer-img-1 {
    width: 28px;
  }

  &__footer-img-2 {
    width: 24px;
  }
}
