@use '../../assets/scss/main.scss' as *;

.testimonials {
  &__slide {
    max-width: 327px;

    @include media-breakpoint-up(lg) {
      max-width: 545px;
    }
  }

  &__card {
    box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
    --bs-card-cap-padding-x: var(--bs-card-spacer-x);
    --bs-card-cap-padding-y: var(--bs-card-spacer-x);

    @include media-breakpoint-up(lg) {
      --bs-card-spacer-x: #{map-get($spacers, 4)};
      --bs-card-spacer-y: var(--bs-card-spacer-x);
      --bs-card-cap-padding-x: var(--bs-card-spacer-x);
      --bs-card-cap-padding-y: var(--bs-card-spacer-x);
    }
  }

  &__card-footer {
    padding-top: 0;
  }

  &__footer-item {
    display: flex;
    align-items: center;
    gap: map-get($spacers, 3);

    span {
      font-weight: 700;
      color: $black;
    }
  }

  &__quote {
    width: 32px;

    @include media-breakpoint-up(lg) {
      width: 40px;
    }
  }

  &__footer-img-1 {
    width: 28px;

    @include media-breakpoint-up(lg) {
      width: 50px;
    }
  }

  &__footer-img-2 {
    width: 24px;
  }
}
